
/* POST Assignment Submission: added header element with properties */
header {
  background-color: blue;
  color: AliceBlue;
}


.info, h2 {
  background-color: AliceBlue;
  color: green;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* POST Assignment Submission: adjusted text color for better legibility */
h3 {
  background-color: green;
  color: AliceBlue;
}
